* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    background: #fff;
}

header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    /* align-items: center; */
}

.navbar ul li a {
    margin-left: 30px;
    color: #000;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: orange;
}

main {
    width: 100%;
    margin-top: 230px;
}

/* Hi all I'm Nitin */

.home {
    width: 100%;
    margin-top: 100px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-bottom: 150px;
}

.left-home {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.left-home h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-home p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 2px;
    line-height: 30px;
}

.icons {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.icons>div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons>div:first-child {
    background: #000;
}

.icons>div:nth-child(2) {
    background: rgb(21, 54, 201);
}

.icons>div:nth-child(3) {
    background: rgb(255, 60, 0);
}

.icons>div:nth-child(4) {
    background: rgb(253, 173, 1);
}

.icons>div:nth-child(5) {
    background: rgb(0, 4, 255);
}

.icons>div>a {
    font-size: 20px;
    font: bold;
    color: #fff;
}

.btn {
    display: flex;
    gap: 40px;
}

.btn button {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    background: blue;
    color: #fff;
    font-size: 16px;
}

.img {
    width: 500px;
}

.img img {
    width: 100%;
}

/* What i do */

.second {
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-bottom: 200px;
}

.what {
    width: 600px;
}

.what h1 {
    font-size: 30px;

}

.what>p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4b4a4a;
}

.what .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box .icon {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #979797;
}

.para {
    display: flex;
    flex-direction: column;
}

.para>p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    word-spacing: 1px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
}

.para>p>i {
    color: rgb(255, 217, 0);
    font-size: 20px;
}

/* Proficiency */

.proficiency {
    width: 600px;
    margin-bottom: 80px;
}

.proficiency h1 {
    margin-top: 20px;
    font-size: 30px;
}

.proficiency p {
    font-size: 20px;
    margin-top: 30px;
}

.score {
    width: 400px;
    border-radius: 10px;
    height: 25px;
    background: #d4d2d2;
    margin-top: 30px;
    margin-bottom: 50px;
}

.score>.scale-1 {
    background: rgb(61, 61, 134);
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.score>.scale-2 {
    background: rgb(61, 61, 134);
    width: 85%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.score>.scale-3 {
    background: rgb(61, 61, 134);
    width: 75%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

/* Open Source Project */
.source {
    margin-left: 60px;
}

.source h1 {
    font-size: 30px;
}

.source .source-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
}

.source-content {
    padding: 10px 20px;
    width: 500px;
    min-height: 100px;
    box-shadow: -5px -5px 5px rgb(219, 216, 216), 5px 5px 5px rgb(219, 216, 216);
}

.source-content>h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.source-content>p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    word-spacing: 1px;
}

.source-content>div {
    display: flex;
    gap: 160px;
}

.source-content>div>div>span {
    font-size: 16px;
    margin-right: 10px;
}

.source-content>div>div>span>i {
    color: rgb(255, 208, 0);
}

.source>.btn {
    align-items: center;
    justify-content: center;
    margin-left: -60px;
}

.source>.btn>button {
    border-radius: 0;
    border: none;
    cursor: pointer;
}

/* Big project  */
.big {
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.big>h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.big>p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #817e7e;
    margin-left: 20px;
}

.big>div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 200px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.big>div>div {
    font-size: 40px;
}

/* Achievements and certifications */
.achievements {
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.achievements>h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.achievements>h1>i {
    color: rgb(255, 153, 0);
}

.achievements>p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 20px;
}

.achievements-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.achievements-content>div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievements-content>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievements-content>div>div>h1 {
    font-size: 80px;
}

.achievements-content>div>div>h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

.achievements-content>div>h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

.achievements-content>div>p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #817e7e;
    align-items: center;
    justify-content: center;
}

.achievements-content>div>.btn {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.achievements-content>div>.btn>button,
.achievements-content>div>button {
    border: none;
    font-weight: normal;
    font-size: 14px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #817e7e;
}

.achievements-content>div>button {
    padding: 10px 20px;
}

.achievements-content>div>.btn>button:hover,
.achievements-content>div>button:hover {
    background: rgb(255, 153, 0);
    color: #fff;
}

/* Blogs */
.blogs {
    width: 100%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.blogs>h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.blogs>p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 16px;
    color: #817e7e;
}

.blogs>div {
    display: flex;
    gap: 40px;
}

.blogs>div>div {
    width: 500px;
    height: 130px;
    background: #fff;
    padding: 10px 20px;
    box-shadow: -5px -5px 5px rgb(219, 216, 216), 5px 5px 5px rgb(219, 216, 216);
}

/* Talks  */
.talks{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.talks>h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.talks>p{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 16px;
    color: #817e7e;
}
.talks>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talks>div>div{
    width: 400px;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding: 10px 20px; */
    box-shadow: -5px -5px 5px rgb(219, 216, 216), 5px 5px 5px rgb(219, 216, 216);
}
.talks>div>div>div{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center;
}
.talks>div>div>div:first-child{   
    font-size: 30px;
    color: #fff;
    background: rgb(84, 84, 155);
}
.talks>div>div>div:last-child{
    font-size: 20px;
    justify-content: center;
    gap: 20px;
}

.talks>div>div>div:last-child>.btn>button{
    border-radius: 5px;
    border: none;
    background: rgb(64, 24, 117);
}
/* Tweets */
.tweet{
    width: 100%;
    margin-left: 60px;
    margin-bottom: 50px;
}
.tweet>div:first-child{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    gap: 10px;
}
.tweet>div:first-child>h1{
    font-size: 30px;
}
.tweet>div:first-child>p{
    font-size: 16px;
    position: relative;
    top: 10px;
    margin-left: 16px;
    color: #817e7e;
}
.tweet>div:first-child>p>span{
    color: rgb(0, 81, 255);
}
.tweet>div:last-child{
    width: 100%;
    display: flex;
    position: relative;
    gap: 40px;
}
.tweet>div:last-child>div:first-child{
    width: 30px;
    height: 30px;
    background: rgba(248, 80, 80, 0.692);
    border-radius: 50%;
    justify-content: center;
    position: relative;display: flex;
    align-items: center;
}
.tweet>div:last-child>div:first-child>span{
    font-size: 20px;
    color: #fc0000;
    position: relative;
}
.tweet>div:last-child>div:last-child{
    display: flex;
    flex-direction: column;
}

.tweet>div:last-child>div:last-child>h4{
    font-size: 20px;
}
.tweet>div:last-child>div:last-child>h4>i{
    color: rgb(0, 81, 255);
}
.tweet>div:last-child>div:last-child>p:nth-child(2){
    font-size: 16px;
    color: #817e7e;
    margin-bottom: 20px;
}
.tweet>div:last-child>div:last-child>p:nth-child(3){
    font-size: 30px;
    margin-bottom: 50px;
}
.tweet>div:last-child>div:last-child>p:nth-child(3)>span{
    color: rgb(0, 81, 255);
}
.tweet>div:last-child>div:last-child>div{
    width: 1000px;
    border-radius: 10px;
    height: 80px;
    background: #d3d0d0;
}

/* Reach Out to me!  */
.reach{
    width: 100%;
    margin-left: 60px;
    margin-bottom: 50px;
}
.reach>h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.reach>div{
    display: flex;
    gap: 60px;
    margin-left: 30px;
}
.reach>div>div:first-child{
    width: 700px;
}
.reach>div>div:first-child>p:first-child{
    font-size: 18px;
    margin-bottom: 20px;
    color: #817e7e;
    text-transform: uppercase;
}
.reach>div>div:first-child>h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.reach>div>div:first-child>p:nth-child(3){
    font-size: 18px;
    margin-bottom: 20px;
}
.reach>div>div:first-child>p:nth-child(4){
    font-size: 18px;
    margin-bottom: 20px;
}
.reach>div>.images{
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 5px solid rgb(45, 45, 117);
}
.reach>div>.images>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}